:root{
    --text-title-color: #212121;;
    --text-color: #757575;;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --contacts-color:  rgba(255, 255, 255, 0.6);
}

h1,h2,h3,h3,h5,h6,p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-title-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid crimson;   */
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.work-section .team-section{
    text-align: center;
 }

 .section{
    padding-top: 94px;
    padding-bottom: 94px;
 }

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* ----------------HEADER--------------- */
.header {
    border: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 50px;
}

.navigation{
    margin-right: auto;
    display: flex;

}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
    margin-right: 93px;
}

.logo-web {
    font-family: 'Raleway';
    color: var(--accent-color);
}

.nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
   
}

.nav-item:hover,
.nav-item:focus,
.contact-item:hover,
.contact-item:focus
 {

    color: var(--accent-color);
    
}

.contact-item {
    font-weight: 500;
    font-size: 14px; 
    color: var(--text-color);
    margin-right: 50px;
}

.tel-number{
    margin-right: auto;
}


/* ------------------HERO------------------ */

.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
 
    
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.hero-btn {
    font-family: inherit;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    padding: 10px 32px;
}


/* -----------------------ADVANTAGES------------------------ */

.advantage, .portfolio-header {
    display:none; 
}

.benefits-list, .work-list, .team-list {
    display: flex;
    gap: 30px;
}

.benefits-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-title-color);
    margin-bottom: 10px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* ------------WHAT-WE-DO------TEAM------------ */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-title-color);
    padding-bottom: 50px;

}

.work-list {
 
}

.team-title {
    padding-bottom: 50px;
}

.member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
    text-align: center;
    letter-spacing: 0.03em;   
    color: var(--text-title-color);
    padding-top: 30px;
    margin-bottom: 10px;
}

.member-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding-bottom: 30px;
}

.team-box {
    background-color: var(--white-color);
}

.team-section{
    background: #F5F4FA;

}


/* ---------------FOOTER----------------- */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-foot {
    color: var(--white-color);
    display: block;
    margin-bottom: 30px;

    
}
.address {
    font-style:normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    display: block;
    margin-bottom: 9px;
    
}
.contact {
    font-style:normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    display: block;
    margin-bottom: 9px;
}

.contact-last {
    margin-bottom: 0;
}


/* ----------------PORTFOLIO------------- */
.filter {
    padding-bottom: 56px;
    display: flex;
    gap: 8px;
    justify-content: center;
}


.filter-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-title-color);
    background-color: #F5F4FA; 
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
}

.filter-item:hover,
.filter-item:focus {
    color: var(--white-color);
    background: var(--accent-color);
    cursor: pointer;
    
}

.header-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-title-color);
    padding-top: 20px;
    margin-bottom: 4px;

}

.text-item {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding-bottom: 20px;
}

.menu-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-list-item {
    width: calc(100%-90px / 3);
}

.menu-list-box {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid  #EEEEEE;
    padding-left: 24px;
    padding-right: 24px;
}